<div class="container p-6 mx-auto">
<h1 class="text-3xl font-bold text-center my-8" style="margin-top: -2rem;">Authors</h1>

<div class="container mx-auto mt-8 px-4">
  <table class="min-w-full bg-white border rounded-lg shadow-md">
    <thead>
      <tr class="bg-gray-100">
        <th class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase border-b">Name</th>
        <th class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase border-b">Books</th>
      </tr>
    </thead>
    <tbody>
      <% @authors.each do |author| %>
        <tr class="border-b hover:bg-gray-50">
          <td class="px-6 py-4 text-gray-800 font-semibold">
            <%= link_to author.name, author_path(author), class: "text-blue-500 hover:underline" %>
          </td>
          <td class="px-6 py-4">
            <ul>
              <% author.books.each do |book| %>
                <li>
                  <%= link_to book.title, book_path(book), class: "text-blue-500 hover:underline" %>
                </li>
              <% end %>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
